body {
  font-family: 'Lato', sans-serif;
}
.top-margin {
  margin-top: 20px;
}
.font-thin {
  color: #666;
}
.logo-size{
  height: 100px;
  width: 100px;
}

/* row-centered and col-centered have been taken from
 http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */

.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

/* source http://stackoverflow.com/a/4151770 */

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #111;
  /* old IE */
  background-color: #111;
  /* Modern Browsers */
}
